body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
}

/* =================
    Typography 
   ================= */

h1 {
  margin-top: 0;
  font-weight: 400;
}

.beta-text {
  font-weight: 900;
}

.subheading {
  color: #575757;
  font-weight: 900;
}

/* =================
    Flex containers
   ================= */

.intro,
main {
  display: flex;
  flex-direction: column;
}

/* =================
    Intro
   ================= */

.intro {
  color: #fff;
  background-color: #9480e4;
  text-align: center;
  justify-content: center;
  min-height: 250px;
  padding: 1em 4em;
}

/* ====================
    Main content
   ==================== */

main {
  align-items: center;
  padding-top: 2.5em;
  padding-inline: 2em;
}

.img-main {
  border-radius: 50%;
  width: 120px;
}

/* =================
    Form
   ================= */

/* =================
    Media queries 
   ================= */

/* added flex and text positioning to the intro section */
