*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #404040;
}

/* =================
    Typography 
   ================= */

h1 {
  margin-top: 0;
  font-weight: 400;
  font-size: 2.5rem;
  text-shadow: 0 2px #816fca;
}

h2 {
  font-size: 2.25rem;
  margin-block: 0.16em;
}

.beta-text,
.subheading,
.top-text {
  font-weight: 900;
  text-transform: uppercase;
}

p {
  font-size: 1.125rem;
  line-height: 1.35em;
}

.subheading {
  color: #575757;
  margin-bottom: 0.5em;
}

.top-text {
  font-size: 0.875rem;
  padding-top: 0.25em;
  border-top: 5px solid;
  margin: 0 auto;
  order: -1;
}

.fine-print {
  font-size: 0.75rem;
  letter-spacing: 1px;
  color: #858585;
}

/* =================
    Flex containers
   ================= */

.intro,
main {
  display: flex;
  flex-direction: column;
  padding-inline: 2em;
}

/* =================
    Intro
   ================= */

.intro {
  color: #fff;
  background: #9480e4 url(./images/intro-bg.png);
  background-size: cover;
  text-align: center;
  justify-content: space-between;
  min-height: 250px;
  padding-bottom: 1.5em;
}

/* ====================
    Main content
   ==================== */

main {
  align-items: center;
  padding-top: 2.5em;
}

.img-main {
  border-radius: 50%;
  width: 120px;
}

.main-content p,
form {
  max-width: 450px;
}

/* =================
    Form
   ================= */

input {
  margin-bottom: 0.75em;
  padding: 0.5em;
  border: solid 2px #d1d5db;
}

input:focus {
  outline: none;
  border-color: #8a71ec;
  background-color: #e6e8ec;
}

input,
.btn {
  font-family: inherit;
  width: 100%;
  border-radius: 5px;
}

.btn {
  border: none;
  padding: 0.8em 0;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn-primary {
  color: white;
  background-color: #8a71ec;
  margin-top: 1em;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #b7a7f6;
}

/* =================
    Media queries 
   ================= */

@media (min-width: 576px) {
  body {
    display: flex;
  }

  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 2.625rem;
  }

  .beta-text {
    font-size: 1.25rem;
  }

  .intro,
  .main-content {
    flex: 1;
  }

  .intro {
    min-height: 100vh;
  }

  .main-content {
    justify-content: center;
  }
}
